body {
    background-image: url("media/bg4.jpg");
    background-size: cover;
}


.full-name {
    width: 220px;
    font-size: 50px;
    font-family: cursive;
}

.name {
    font-weight: 400;
    font-size: 70px;
}

.lastname {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.avatarka {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.avatarka-settings {
    margin-top: 10px;
    margin-bottom: 70px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.grid-item {
    margin-bottom: 30px;
}

.myself, .about-work, .about-education, .about-hobby {
    margin-left: 300px;           
}

.myself {
    display: flex;
    justify-content: center;
}

.about-contacts, .about-me, .about-abilities {
     margin-right: 300px; 
}

.icon {
    width: 30px;    
}

.icon-hobby {
    width: 70px;
}

.hr-line {
	border: none;
	border-bottom: 1px solid black;
	box-shadow: 0 20px 20px -20px #333;
	width: 30%;
}

.line-under-work, .line-under-education, .line-under-about-me, .line-under-skills, .line-under-hobby {
    margin-left: 0;
    width: 500px;
}

.line-under-contacts, .line-under-about-me {
    margin-right: 0;
    width: 500px;
}

.header-work, .header-education, .header-about-me, .header-contacts, .header-skills, .header-about-hobby {
    font-weight:bold;
    font-size: 25px;
    font-family: sans-serif;
    color: black;
}

/* Кнопка */
.text-description {
    font-size: 23px;
}

.collapsible {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}  

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 30px;
}
.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796";
}
/* Конец кнопки */



* {box-sizing:border-box}


.container {
  width: 100%;
  background-color: rgba(121, 121, 121, 0.34);
    
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* White text color */
  font-size: 20px;
}

.html {width: 65%; background-color: #04AA6D;} /* Green */
.css {width: 50%; background-color: #2196F3;} /* Blue */
.js {width: 20%; background-color: #f44336;} /* Red */
.python {width: 80%; background-color: #d8b416;} /* Dark Grey */

.skill {
    font-size: 25px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1vw;
}

.card {
    width: 500px;
    height: 81px;
    background: rgba(121, 121, 121, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(1px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: black;
}
  
.card:hover {
    height: 153px;
    transform: skew(0deg);
}
  
.align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
}
  
.red {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}
  
.yellow {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}
  
.green {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}
  
.card h1 {
    text-align: center;
    margin: -17px;
    margin-bottom: 0px;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
  


@media (max-width: 1618px) {
    .myself, .about-work, .about-education, .about-hobby {
        margin-left: 150px;
    }

    .about-contacts, .about-me, .about-abilities {
        margin-right: 150px; 
   
    }
   
    .skills {
     text-align: right; /* Right-align text */
     padding-top: 10px; /* Add top padding */
     padding-bottom: 10px; /* Add bottom padding */
     color: black; /* White text color */
     font-size: 17px;
    }
}


@media (max-width: 1400px) {
    .myself, .about-work, .about-education, .about-hobby {
        margin-left: 50px;
    }

    .about-contacts, .about-me, .about-abilities {
        margin-right: 50px; 
   
   }

}

@media (max-width: 1317px) {
    .myself {
        display: flex;
        justify-content: center;
    }

    .avatarka-settings {
        margin-right: 200px;
    }
}


@media (max-width: 1160px) {
    .line-under-work, .line-under-education, .line-under-about-me, .line-under-skills, .line-under-hobby {
        margin-left: 0;
        width: 300px;
    }

    .avatarka {
        height: 200px;
        width: 200px;
    }
    
    .name {
        font-size: 50px;
    }

    .lastname {
        font-size: 50px;
    }
    
    
    
    .line-under-contacts, .line-under-about-me {
        margin-right: 0;
        width: 300px;
    }

    .header-work, .header-education, .header-about-me, .header-contacts, .header-skills, .header-about-hobby {
        font-weight: bold;
        font-size: 20px;
        color: black;
    }

    .icon {
        width: 25px ;
    }

    .icon-hobby {
        width: 45px;
    }

    .card {
        width: 400px;
        height: 65px;
    }

    .card:hover {
        height: 140px;
        transform: skew(0deg);
    }

    .red, .yellow, .green {
        width: 10px;
        height: 10px;
    }


    h1 {
        font-size: 23px;
    }

    .skill {
        font-size: 20px;
    }

    .python, .html, .css, .js {
        height: 30px;
    }

    .skills {
        font-size: 15px;
    }

    .collapsible {       
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }

}

@media (max-width: 851px) {
    .avatarka-settings {
        margin-right: 0px;            
    }  

    .myself, .about-work, .about-education, .about-hobby {
        margin-left: 5px;
    }

    .myself {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }
    .grid-item {
        margin-bottom: 10px;
    }


    .about-contacts, .about-me, .about-abilities {
        margin-right: 5px;
    }

    .full-name {
        width: 50%;
        font-size: 40px;
        font-family: cursive;
    }

    .avatarka {
        height: 180px;
        width: 180px;
    }
    

    .header-work, .header-education, .header-about-me, .header-contacts, .header-skills, .header-about-hobby {
        font-weight: bold;
        font-size: 17px;
        color: black;
    }

    .text-description {
        font-size: 17px;
    }

    .line-under-work, .line-under-education, .line-under-about-me, .line-under-skills, .line-under-hobby {
        margin-left: 0;
        width: 200px;
    }

    .card {
        width: 300px;
        height: 55px;
    }

    .card:hover {
        height: 120px;
        transform: skew(0deg);
    }

    h1 {
        font-size: 17px;
    }
    .red, .yellow, .green {
        width: 7px;
        height: 7px;
    }

    .skill {
        font-size: 17px;
    }
    
    .collapsible {       
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;      
    }

    .content {
        margin-bottom: 20px;
    }


}

@media (max-width: 573px) {
    .grid-item {
        margin-bottom: 5px;
    }
    
    .full-name {
        width: 50%;
        font-size: 30px;
        font-family: cursive;
    }

    .avatarka {
        height: 130px;
        width: 130px;
    }

    .header-work, .header-education, .header-about-me, .header-contacts, .header-skills, .header-about-hobby {
        font-weight: bold;
        font-size: 12px;
        color: black;
    }

    .icon {
        width: 20px;
    }

    .icon-hobby {
        width: 35px;
    }

    .text-description {
        font-size: 13px;
    }

    .line-under-work, .line-under-education, .line-under-about-me, .line-under-skills, .line-under-hobby {
        margin-left: 0;
        width: 150px;
    }

    .card {
        width: 240px;
        height: 45px;
    }

    .card h1 {
        text-align: center;
        margin: -17px;
        margin-bottom: 3px;
        color: rgb(218, 244, 237);
        text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
    }

    h1 {
        font-size: 12px;
    }

    .card:hover {
        height: 110px;
        transform: skew(0deg);
    }

    .grid-item {
        margin-bottom: 0px;
    }

    .skill {
        font-size: 12px;
    }

    .python, .html, .css, .js {
        height: 15px;
    }

    .skills {
        font-size: 10px;
    }

    .red, .yellow, .green {
        width: 5px;
        height: 5px;
    }

    .collapsible {       
        font-size: 12px;
        padding: 10px;
        margin-bottom: 10px;      
    }

    .content {
        margin-bottom: 20px;
    }

}
